body {
  background-image:url('blackspiral.jpg');
  background-color: #064265;
  background-attachment: scroll;
  background-repeat: repeat-x;
  background-size: cover;
  font-family: sans-serif;
  margin: auto;
  
}

.navbar {
  background-color: #064265;
  border-radius: 2px;
  max-width: 100%;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container img {
  width: 683px;
  height: 384px;
  border: 1px solid #064265;
  border-radius: 55%;
  cursor: move;
}

#floating-container {
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
}

#floating-container:hover {
  cursor: grab;
}

#floating-container:active {
  cursor: grabbing;
}

#floating-container .circle {
  width: 683px;
  height: 384px;
  border-radius: 10%;
  background-color: #064265;
  position: relative;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  color: #ffffff;
}

.container input[type="text"],
.container input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.container button {
  width: 100%;
  padding: 12px;
  background-color: #121212;
  ;
  color: #c5bebe;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container button:hover {
  background-color: #064265;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;

}





